# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.defaults
.env.auth.dev
.env.auth.local
.env.auth.prod
.env.cloudflare.dev
.env.cloudflare.local
.env.cloudflare.prod
.env.db.dev
.env.db.local
.env.db.prod
.env.posthog.dev
.env.posthog.local
.env.posthog.prod
.env.resend.dev
.env.resend.prod
.env.slack.dev
.env.slack.local
.env.slack.prod
.env.prod
.env.dev
.env-merged/

# ui
dist/

# secrets
key.txt
*.secret

# IntelliJ IDEA
.idea/*
*.iws
*.iml
*.ipr
!.idea/scopes
!.idea/runConfigurations
*storybook.log

.vercel

# Additional ignores
dist-ssr
*.local
!Caddyfile.local
count.txt
.env
.nitro
.tanstack
.output
.wrangler
.wrangler.dev-remote.json
wrangler.generated.jsonc
**/wrangler.generated.jsonc
**/.wrangler.*.jsonc
error.log
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info


tmp/*
.playwright-mcp
.nx/cache
.nx/workspace-data
